/* .icon {
  color: #6c5ce7, #fd79a8, #e84393;
} */

\
/* Color Theme Swatches in Hex */
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-1-hex {
  color: #bf1784;
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-2-hex {
  color: #2f048c;
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-3-hex {
  color: #1b0273;
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-4-hex {
  color: #f2ce1b;
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-5-hex {
  color: #f2bd1d;
}

/* Color Theme Swatches in RGBA */
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-1-rgba {
  color: rgba(191, 22, 132, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-2-rgba {
  color: rgba(47, 4, 140, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-3-rgba {
  color: rgba(26, 2, 114, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-4-rgba {
  color: rgba(242, 206, 26, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-5-rgba {
  color: rgba(242, 188, 29, 1);
}

/* Color Theme Swatches in HSLA */
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-1-hsla {
  color: hsla(320, 78, 42, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-2-hsla {
  color: hsla(258, 94, 28, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-3-hsla {
  color: hsla(253, 96, 22, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-4-hsla {
  color: hsla(50, 89, 52, 1);
}
.Retro-wave-synth-vaporwave-portrait-of-a-cat-in-sunglasses-with-palm-trees-reflection.-80s-sci-fi-futuristic-fashion-poster-style-violet-neon-aesthetics.-5-hsla {
  color: hsla(45, 89, 53, 1);
}

/* Color Theme Swatches in Hex */
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-1-hex {
  color: #187fd9;
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-2-hex {
  color: #14a1d9;
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-3-hex {
  color: #14c5d9;
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-4-hex {
  color: #16f2dc;
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-5-hex {
  color: #13f2c9;
}

/* Color Theme Swatches in RGBA */
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-1-rgba {
  color: rgba(23, 126, 216, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-2-rgba {
  color: rgba(19, 160, 216, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-3-rgba {
  color: rgba(19, 197, 216, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-4-rgba {
  color: rgba(21, 242, 220, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-5-rgba {
  color: rgba(19, 242, 201, 1);
}

/* Color Theme Swatches in HSLA */
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-1-hsla {
  color: hsla(208, 80, 47, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-2-hsla {
  color: hsla(196, 83, 46, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-3-hsla {
  color: hsla(185, 83, 46, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-4-hsla {
  color: hsla(174, 89, 51, 1);
}
.Abstract-blue,
-mint-and-pink-background-pattern-with-interlaced-digital-glitch-and-distortion-effect.-Futuristic-cyberpunk-design.-Retro-futurism,
-webpunk,
-rave-disco-aesthetic.-Cyberpunk-neon-colors.-5-hsla {
  color: hsla(168, 89, 51, 1);
}


#187FD9
#14A1D9
#14C5D9
#16F2DC
#13F2C9