.btn_like {
  margin: 100px auto;
  display: block;
  width: 180px;
  height: 38px;
  border: 1px solid #e8e8e8;
  border-radius: 38px;
  font-family: notokr-bold, sans-serif;
  font-size: 14px;
  line-height: 13px;
  background-color: #fff;
  color: #dd5d54;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  transition: border 0.2s ease-out, box-shadow 0.1s ease-out,
    background-color 0.4s ease-out;
  cursor: pointer;
}

.btn_like:hover {
  border: 1px solid rgba(228, 89, 89, 0.3);
  background-color: rgba(228, 89, 89, 0.02);
  box-shadow: 0 2px 4px 0 rgba(228, 89, 89, 0.2);
}

.btn_unlike .img_emoti {
  background-position: -30px -120px;
}

.img_emoti {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: url(https://mk.kakaocdn.net/dn/emoticon/static/images/webstore/img_emoti.png?v=20180410)
    no-repeat;
  text-indent: -9999px;
  vertical-align: top;
  width: 20px;
  height: 17px;
  margin-top: 1px;
  background-position: 0px -120px;
  text-indent: 0;
}

.btn_like {
  margin: 15px 0 50px 0;
  width: 100%;
}

@keyframes on_m {
  from {
    background-position: 0;
  }
  to {
    background-position: -9000px;
  }
}

@keyframes off_m {
  from {
    background-position: 0;
  }
  to {
    background-position: -8250px;
  }
}

.timegram_title span {
  color: #5b5752;
  line-height: 1.67;
  font-size: 20px;
  font-family: 'neodgm';
}

.like_span {
  vertical-align: text-bottom;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'neodgm';
  color: rgb(235, 98, 98);
}

.floatR {
  float: right;
}
